@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: #8b5cf6;
    --color-secondary: #92400e;
    --color-success: #15803d;
    --color-warning: #d97706;
    --color-danger: #dc2626;
    --color-info: #0891b2;
    --color-dark: #111827;
}

/* Product page styles */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-btn.active {
    border-bottom-color: var(--color-primary, #d97706);
    color: var(--color-primary, #d97706);
}

.card{
    @apply border border-gray-200 rounded-lg overflow-hidden;
}